  {% assign product_included = false %}

{% for key_feature in shop.metaobjects.key_features.values %}
  
  <script>console.log('{{ key_feature }}')</script>
  <script>console.log('{{ key_feature.products }}')</script>
  
    {% for key_product_gid in key_feature.products %}
      <script>console.log('{{ key_product_gid }}')</script>
      <script>console.log('{{ current_product_gid }}')</script>
      {% if key_product_gid == current_product_gid %}
        {% assign product_included = true %}
        {% break %}
      {% endif %}
    {% endfor %}

    {% if key_feature.collections and product_included == false %}
    {% for key_collection in key_feature.collections %}
      {% for collection in product.collections %}
        {% if key_collection.id == collection.id %}
          {% assign product_included = true %}
          {% break %}
        {% endif %}
      {% endfor %}
      {% if product_included %}
        {% break %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if product_included %}
    {% liquid
        assign main_image = key_features.main_image
        assign heading_1 = key_features.heading_1
        assign subheading_1 = key_features.subheading_1
        assign description_1 = key_features.description_1
        assign table_1 = key_features.table_1
        assign image_1 = key_features.image_1
      
        assign heading_2 = key_features.heading_2
        assign subheading_2 = key_features.subheading_2
        assign description_2 = key_features.description_2
        assign table_2 = key_features.table_2
        assign image_2 = key_features.image_2
      
        assign heading_3 = key_features.heading_3
        assign subheading_3 = key_features.subheading_3
        assign description_3 = key_features.description_3
        assign table_3 = key_features.table_3
        assign image_3 = key_features.image_3
    %}
  {% endif %}
{% endfor %}


<script>console.log('{{ product_included }}')</script>
<script>console.log('{{ heading_1 }}')</script>

{% if product_included %}
  {% if main_image %}
    <img src="{{ main_image }}" alt="Main Image">
  {% endif %}

  {% if heading_1 %}
    <h2>{{ heading_1 }}</h2>
  {% endif %}

  {% if subheading_1 %}
    <h3>{{ subheading_1 }}</h3>
  {% endif %}

  {% if description_1 %}
    <p>{{ description_1 }}</p>
  {% endif %}

  {% if table_1 %}
    {{ table_1 }}
  {% endif %}

  {% if image_1 %}
    <img src="{{ image_1 }}" alt="Image 1">
  {% endif %}

  {% if heading_2 %}
    <h2>{{ heading_2 }}</h2>
  {% endif %}

  {% if subheading_2 %}
    <h3>{{ subheading_2 }}</h3>
  {% endif %}

  {% if description_2 %}
    <p>{{ description_2 }}</p>
  {% endif %}

  {% if table_2 %}
    {{ table_2 }}
  {% endif %}

  {% if image_2 %}
    <img src="{{ image_2 }}" alt="Image 2">
  {% endif %}

  {% if heading_3 %}
    <h2>{{ heading_3 }}</h2>
  {% endif %}

  {% if subheading_3 %}
    <h3>{{ subheading_3 }}</h3>
  {% endif %}

  {% if description_3 %}
    <p>{{ description_3 }}</p>
  {% endif %}

  {% if table_3 %}
    {{ table_3 }}
  {% endif %}

  {% if image_3 %}
    <img src="{{ image_3 }}" alt="Image 3">
  {% endif %}
{% endif %}
