{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  - update_url: {Boolean} whether or not to update url when changing variants. If false, the url isn't updated. Default: true (optional).
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}
{% style %}
  .variant-value-new {
    width: 25px;
    height: 25px;
    font-size: 11px;
  }

  .variant-option {
    height: 35px;
    background-color: black;
  }

  .variant-value {
    cursor: pointer;
    border-radius: 20px;
    padding: 4px; /* Padding for better visual appearance */
    margin: 2px; /* Space between variant options */
  }

  .variant-value.selected {
    border-color: #333; /* Border color when selected */
  }

  .variant-value.variant-unavailable {
    cursor: not-allowed;
    background-color: black;
    color: white;
    border-color: white;
                      opacity: 0.9 !important;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M11.2616 10.8637C11.3144 10.9164 11.3441 10.988 11.3441 11.0627C11.3441 11.1373 11.3144 11.2089 11.2616 11.2616C11.2089 11.3144 11.1373 11.3441 11.0627 11.3441C10.988 11.3441 10.9164 11.3144 10.8637 11.2616L6.00016 6.39813L1.13664 11.2616C1.08387 11.3144 1.01229 11.3441 0.937656 11.3441C0.863023 11.3441 0.791446 11.3144 0.738672 11.2616C0.685898 11.2089 0.65625 11.1373 0.65625 11.0627C0.65625 10.988 0.685898 10.9164 0.738672 10.8637L5.60219 6.00016L0.738672 1.13664C0.685898 1.08387 0.65625 1.01229 0.65625 0.937656C0.65625 0.863023 0.685898 0.791446 0.738672 0.738672C0.791446 0.685898 0.863023 0.65625 0.937656 0.65625C1.01229 0.65625 1.08387 0.685898 1.13664 0.738672L6.00016 5.60219L10.8637 0.738672C10.8898 0.712541 10.9208 0.691813 10.955 0.677671C10.9891 0.663529 11.0257 0.65625 11.0627 0.65625C11.0996 0.65625 11.1362 0.663529 11.1703 0.677671C11.2045 0.691813 11.2355 0.712541 11.2616 0.738672C11.2878 0.764803 11.3085 0.795825 11.3226 0.829967C11.3368 0.864109 11.3441 0.900702 11.3441 0.937656C11.3441 0.974611 11.3368 1.0112 11.3226 1.04535C11.3085 1.07949 11.2878 1.11051 11.2616 1.13664L6.39813 6.00016L11.2616 10.8637Z' fill='white'/%3E%3C/svg%3E");

    background-repeat: no-repeat;


    background-position: center;
    background-size: contain;
  }
  .button:after {
    border-radius: 0 !important;
  }
{% endstyle %}
{%- unless product.has_only_default_variant -%}
  <form
    action="/cart/add"
    method="post"
    enctype="multipart/form-data"
    novalidate="novalidate"
    style="width: 100% !important;"
  >
    <!-- Add to Cart Button -->
    <button
      type="submit"
      name="add"
      style="
                      min-height: 30px;
            font-size: 9px;
            background-color: black !important;
            border-radius: 0 !important;
            font-weight: 700;
            color: white !important;
            height: 30px !important;
            text-transform: uppercase;
            -webkit-transform-origin-x: left;
            justify-content: left;
            padding: 0;
            padding-left: 5px;
        }
      "
      class="overboard-buy-button button button--full-width button--secondary product-form__cart-submit"
      {% unless product.available %}
        disabled
      {% endunless %}
    >
      <span>{{ 'products.product.add_to_cart' | t }}</span>
    </button>
    {% for option in product.options_with_values %}
      <div class="variant-option" data-option-name="{{ option.name }}">
        <div class="variant-values" style="display: inline-flex;">
          {% for value in option.values %}
            {% assign variant_found = false %}
            {% for variant in product.variants %}
              {% if variant.options contains value and variant.available %}
                <div
                  class="variant-value variant-value-new"
                  data-product-id="{{ product.id }}"
                  data-value="{{ value }}"
                  data-option="{{ option.name }}"
                  data-variant-id="{{ variant.id }}"
                  data-variant-price="{{ variant.price | money }}"
                  data-available="true"
                  data-variant-image="{{ variant.featured_image | default: product.featured_image | img_url: 'master' }}"
                  style="position: relative; padding: 5px; cursor: pointer; font-size: 8px !important;"
                >
                  <!-- Custom styling for different options -->
                  {% if option.name == 'Color' %}
                    <div
                      style="width: 20px; height: 20px; background-color: {{ value | handleize }}; border-radius: 50%;"
                    ></div>
                  {% elsif option.name == 'Size' %}
                    <span style="font-size: 8px; color:white;">{{ value }}</span>
                  {% else %}
                    <span>{{ value }}</span>
                  {% endif %}
                </div>
                {% assign variant_found = true %}
                {% break %}
              {% endif %}
            {% endfor %}
            {% unless variant_found %}
              <div
                class="variant-value variant-value-new variant-unavailable"
                data-product-id="{{ product.id }}"
                data-value="{{ value }}"
                data-option="{{ option.name }}"
                data-variant-id="{{ variant.id }}"
                data-available="false"
                style="
                  text-decoration: unset;
                  position: relative;
                  padding: 5px;
                  cursor: not-allowed;
                  font-size: 8px !important;
                  pointer-events: none;
                "
              >
                <!-- Unavailable options -->
                {{ value }}
              </div>
            {% endunless %}
          {% endfor %}
        </div>
      </div>
    {% endfor %}

    <!-- Hidden input to store selected variant ID -->
    <input type="hidden" name="id" class="product-variant-id" data-variant-productid="{{ product.id }}">
  </form>
{%- endunless -%}
