<!-- templates/sections/brand-carousel.liquid -->
<div class="brand-carousel-container">
  <div class="swiper brand-carousel" >
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide">
          {% assign svg_filename = block.settings.image %}
          {% assign svg_file = svg_filename | append: '.svg' %}
          {% if block.settings.url != blank %}
            <a href="{{ block.settings.url }}">
              <img src="{{ svg_file | asset_url }}" alt="{{ block.settings.alttext }}" title="{{ block.settings.text }}">
            </a>
          {% else %}
            <img src="{{ svg_file | asset_url }}" alt="{{ block.settings.alttext }}" title="{{ block.settings.text }}">
          {% endif %}
        </div>
      {% endfor %}
    </div>

  </div>
      <!-- Navigation arrows -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <!-- Pagination -->
    <div class="swiper-pagination"></div>
</div>
  
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
  new Swiper('.brand-carousel', {
    slidesPerView: '2',
    spaceBetween: 0,
    loop: true,
    autoplay: {
      delay: 2500,
      disableOnInteraction: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    breakpoints: {
      320: {
        slidesPerView: '2',
        spaceBetween: 10
      },
      800: {
        slidesPerView: '4',
        spaceBetween: 10
      },
      1000: {
        slidesPerView: '5',
        spaceBetween: 50
      },
      1200: {
        slidesPerView: '6',
        spaceBetween: 50
      },
      1400: {
        slidesPerView: '7',
        spaceBetween: 72
      }
    }
  });
});

  </script>



<style>

  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: unset;
    top: unset;
    left: 0;
    width: 100%;
}
  
  .swiper-wrapper {
  align-items: center;
  }

  
  .brand-carousel-container {
    margin: 0 6vw;
      cursor: grab; /* Cursor shows 'grab' when hover but not yet dragging */

  }


  
    .brand-carousel-container:active {
    cursor: grabbing; /* Cursor changes to 'grabbing' when the user clicks and holds to drag */
  }
  
  .brand-carousel-container {
    margin: 0 auto;
    text-align: center;
    margin-top: {{ section.settings.margintop }}px !important;
    margin-bottom: {{ section.settings.marginbot }}px !important;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    max-width: 90%;
    height: 61px;
  }
    .swiper-button-prev, .swiper-button-next {
    cursor: pointer; /* Ensure cursor is pointer type for navigation buttons */
  }

  @media (max-width: 768px) {
  .swiper-slide img {
    max-width: 80%;
  }

    .swiper-slide {
      margin-right: 50px;
    }
  }

  /*@media (max-width: 480px) {
    .brand-carousel-container {
      margin: 0 25px;
    }*/

@media (max-width: 750px) {
  .brand-carousel-container {
    margin: 0 0;
  }
}
  
@media (min-width: 2000px) {
  .swiper-slide img {
    max-width: 150px;
    height: 61px;
  }
}
</style>


{% schema %}
{
  "name": "Brand Icons",
  "class": "brand-icons",
  "settings": [
    {
      "type": "range",
      "id": "margintop",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Margin Top",
      "default": 50
    },
    {
      "type": "range",
      "id": "marginbot",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 50
    }
  ],
  "max_blocks": 10,
  "blocks": [
    {
      "type": "image",
      "name": "Brand Image",
      "settings": [
        {
          "type": "text",
          "id": "image",
          "label": "SVG File Name",
          "info": "The file name of the .svg file (without \".svg\" at the end) that is uploaded to the Assets folder of the theme files."
        },
        {
          "type": "text",
          "id": "alttext",
          "label": "Alt Text",
          "default": "Brand Image"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Brand Icons"
    }
  ]
}
{% endschema %}
