{% assign category_found = false %}

{% if template contains 'product' %}
  {% for tag in product.tags %}
    {% if category_found == false %}
      {% if tag == 'Boards' or tag == 'Clothing' or tag == 'Wetsuits' or tag == 'Accessories' %}
        {% assign current_tag = tag | handleize %}
        {% assign category_found = true %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% elsif template contains 'collection' %}
  {% assign current_tag = collection.title | handleize %}
{% endif %}

<style>
  .category-banner-container {
    height: 179px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    position: relative;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0; /* Sets the top of the sticky header */
  }

  .shopify-section-header-sticky-1 {
    position: sticky;
    top: 86px;
  }
  .category-header-text {
    text-transform: uppercase;
    font-size: 95px;
    width: 1440px;
    color: white;
    margin-left: 85px;
  }  

    .category-banner-container svg {
    width: 260px;
    height: 188px;
      position: absolute;
      right: 0;
      bottom: {% if current_tag == 'accessories' %}50px;{% else %}50px;{% endif %}
      transform: translateY(50%);
    }
    
  @media (max-width: 768px) {
    .category-banner-container {
      height: 117px;
    }

    .category-header-text {
      font-size: 5rem;
      margin-left: 20px;
    }
    
    .category-banner-container svg {
      width: 100px;
      height: 100px;
      bottom: {% if current_tag == 'accessories' %}7.8px;{% else %}5px;{% endif %}
  }
  }
</style>

<div class="category-banner-container" 
style="background-color: 
  {% if current_tag == 'boards' %}{{ section.settings.background_color1 }};
  {% elsif current_tag == 'clothing' %}{{ section.settings.background_color2 }};
  {% elsif current_tag == 'wetsuits' %}{{ section.settings.background_color3 }};
  {% elsif current_tag == 'accessories' %}{{ section.settings.background_color4 }};
  {% else %}black;{% endif %}"> 
  <h2 class="category-header category-header-text">{{ current_tag }}</h2>
  {% if current_tag == 'boards' %}{% render 'boards-white-svg.liquid' %}
  {% elsif current_tag == 'clothing' %}{% render 'clothing-white-svg.liquid' %}
  {% elsif current_tag == 'wetsuits' %}{% render 'wetsuits-white-svg.liquid' %}
  {% elsif current_tag == 'accessories' %}{% render 'accessories-white-svg.liquid' %}
  {% endif %}
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  var bannerContainer = document.querySelector('.category-banner-container');
  if (bannerContainer) {
    var parnetDiv = bannerContainer.parentElement;
    parnetDiv.classList.add('shopify-section-header-sticky-1');
    parnetDiv.style.zIndex = '2';
  }
});
</script>




{% schema %}
  {
    "name": "Category Banner",
    "settings": [
      {
        "type": "color",
        "id": "background_color1",
        "label": "Boards Background Color",
        "default": "#aed7ea"
      },
      {
        "type": "color",
        "id": "background_color2",
        "label": "Clothing Background Color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "background_color3",
        "label": "Wetsuits Background Color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "background_color4",
        "label": "Accessories Background Color",
        "default": "#ffffff"
      }
    ],
    "presets": [
      {
        "name": "Category Banner"
      }
    ]
  }
  
{% endschema %}
